<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field" style="display: none">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
<!--
  <div class="field">
    <%= f.label :user_id, "选择志愿者：" %><br>
    <%= f.select :user_id, get_all_applicants_as_options(@assignment.project) %>
  </div>
-->
  <div class="field">
    <%= f.label :zone_id, "选择区域：" %><br />
    <%= f.select :zone_id, get_all_zones_as_options(@assignment.project.nursing_home) %>
  </div>

  <div class="field" style="display: none">
    <%= f.label :project_id %><br>
    <%= f.number_field :project_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
