<h1>Listing users</h1>

<table>
  <tr>
    <th>姓名</th>
    <th>头像</th>
    <th>设置</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= image_tag user.avatar.url(:thumb) %></td>
    <% if user.user_type == User::VOLUNTEER %>
      <td><%= link_to '志愿者，点击设为组长', "/users/settype/#{user.id}", :remote => true, :class => "remote-settype-#{user.id}" %></td>
    <% else %>
      <td><%= link_to '组长，点击设为志愿者', "/users/settype/#{user.id}", :remote => true, :class => "remote-settype-#{user.id}" %></td>
    <% end %>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>

<br />
<img src="/images/pool.jpg" id="jcrop_target" alt="pool" />
<form>
      <div>
      <label>X1 <input type="text" size="4" id="x1" name="x1" /></label>
      <label>Y1 <input type="text" size="4" id="y1" name="y1" /></label>
      <label>X2 <input type="text" size="4" id="x2" name="x2" /></label>
      <label>Y2 <input type="text" size="4" id="y2" name="y2" /></label>
      <label>W <input type="text" size="4" id="w" name="w" /></label>
      <label>H <input type="text" size="4" id="h" name="h" /></label>
      </div>
</form>
