
  <div class="col-xs-11 row reg_project">
      <h2>志愿者信息</h2>
      <h4>近期参加的志愿者</h4>
      <div class="text" style="margin-top:5px;">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>姓名</th>
              <th>手机号</th>
              <th>性别</th>
              <th>年龄</th>
              <th>信息</th>
            </tr>
          </thead>
          <% @users.each do |user| %>
                <tr>
                  <td><%= user.name %></td>
                  <td><%= user.phone_number %></td>
                  <td><%= Constants::GENDER.key(user.gender) %></td>
                  <td><%= user.age %></td>
                  <td><%= link_to '查看', user %></td>
                 </tr>
          <% end %>
        </table>
      </div>
  </div>

