<div id="new_user" class="row">
  <div class="col-xs-1 back">
    <%= link_to :root do %>
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <% end %>
  </div>
  <div class="col-xs-9">
    <h3>用户注册</h3>
  </div>
  <%= render 'form' %>
</div>

<!--
<%= debug(params) %>
<%= request.method_symbol.nil?? 'it is nill':request.method_symbol %>
<br />
<% @obj=request.headers %>
<% if not @obj.nil? %>
  <div>
    <% @obj.each do |key, value|%>
     <p><%= "#{key}--#{value}" %></p>
    <% end %>
  </div>
<% end %>
-->
