                    <%= form_for(@nursing, remote: true, html: {class: "inline_form"}) do |f| %>
                      <% if @nursing.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@nursing.errors.count, "error") %> prohibited this nursing from being saved:</h2>
                          <ul>
                          <% @nursing.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                          </ul>
                        </div>
                      <% end %>

                      <div class="field" style="display: none">
                        <%= f.number_field :resident_id %>
                      </div>

                      <%= f.select :nurse_id, @nursing.resident.nursing_home.nurses.collect{|n| [n.name, n.id]}, {include_blank: "分配护工"} %>
                      <%= f.submit "更新" %>
                    <% end %>
