<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @record.user_id %>
</p>

<p>
  <strong>Resident:</strong>
  <%= @record.resident_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @record.project_id %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @record.desc %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
