<div id="project_show" class="">

  <% if defined? @draft_projects %>
    <% @draft_projects.each do |project| %>
      <%= render partial: "show_draft", locals: {project: project, type: "draft"} %>
    <% end %>
  <% end %>

  <% if defined? @published_projects %>
    <% @published_projects.each do |project| %>
      <%= render partial: "show", locals: {project: project, type: "published"} %>
    <% end %>
  <% end %>


  <% if defined? @upcoming_projects %>
    <% @upcoming_projects.each do |project| %>
      <%= render partial: "show_upcoming_and_ongoing", locals: {project: project, type: "upcoming"} %>
    <% end %>
  <% end %> 

  <% if defined? @ongoing_projects %>
    <% @ongoing_projects.each do |project| %>
      <%= render partial: "show_upcoming_and_ongoing", locals: {project: project, type: "ongoing"} %>
    <% end %>
  <% end %>

  <% if defined? @unfinished_projects %>
    <% @unfinished_projects.each do |project| %>
      <%= render partial: "show_unfinished", locals: {project: project, type: "unfinished"} %>
    <% end %>
  <% end %>
</div>
