  <div class="col-xs-11 row reg_project background_grey">
    <div class="tag avatar">
      <%= image_tag current_user.avatar.url(:medium) %>
    </div>
    <div class="desc">
      <h4 class="grey" style="margin-top:0px;">
        爱中国志愿者
        <b><%= " "+current_user.name %></b>
      </h4>
      <p class="grey">
        <%= get_gender(current_user.gender)+"  "+current_user.age.to_s+"岁" %>
      </p>
      <% @nursing_homes.each do |nursing_home| %>
        <p class="grey">
          <%= nursing_home.name+" 组长" %>
        </p>
      <% end %>
      <p class="grey">
        <%= current_user.self_description.to_s %>
      </p>
    </div>
    <div>
      <hr class="division">
    </div>
  

    <div class="operations">
      <div class="">
        <%= link_to '创建/修改活动信息', "/projects/manage", class: "col-xs-12 btn btn-primary" %>
      </div>
      <div>
        <%= link_to '创建/修改老人信息', "/residents/manage", class: "col-xs-12 btn btn-primary" %>
      </div>
      <div>
        <%= link_to '创建/修改护工信息', "/nurses/manage", class: "col-xs-12 btn btn-primary" %>
      </div>
      <div>
        <%= link_to '查看志愿者信息', "/users/manage", class: "col-xs-12 btn btn-primary" %>
      </div>
      <div>
        <%= link_to '查看志愿者反馈信息', messages_path, class: "col-xs-12 btn btn-primary" %>
        <div class="circle col-xs-1">
          <span><%= current_user.unread_messages.count %></span>
        </div>
      </div>
    </div>

  </div>
