<!--


<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resident.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @resident.gender %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @resident.birthday %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @resident.condition %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @resident.phone_number %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @resident.contact %>
</p>

<p>
  <strong>Contact phone number:</strong>
  <%= @resident.contact_phone_number %>
</p>

<p>
  <strong>Room:</strong>
  <%= @resident.room_id %>
</p>

<%= link_to 'Edit', edit_resident_path(@resident) %> |
<%= link_to 'Back', residents_path %>
-->

<div>
  <div id="show_resident" class="col-xs-11 row">
    <div class="tag">
      <img src="../images/tag-orange.png" class="img-responsive" alt="ichina tag-orange">
      <div class=tag-label>
        <p><%= @resident.zone.name %></p>
        <p><%= @resident.room.room_number %></p>
      </div>
    </div>
    <div class="desc">
      <p>
        <%= @resident.nursing_home.name %>
        <%= @resident.zone.name+"-"+@resident.room.room_number %>
      </p>
      <p class="black">
        <%= @resident.name %>
      </p>
      <p class="grey pre"><%= get_gender(@resident.gender)+"   " + l(@resident.birthday,format: :date) + "   " + @resident.age.to_s+"岁" %></p>
    </div>
    <div class="text">
      <hr class="division">
      <p>
        <strong>身体状况：</strong>
      </p>
      <p>
        <%= @resident.condition %>
      </p>
    </div>
  </div>
</div>



