<%= form_for(@nurse) do |f| %>
  <% if @nurse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nurse.errors.count, "error") %> prohibited this nurse from being saved:</h2>

      <ul>
      <% @nurse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field col-xs-12 input-group form-group">
    <%= f.label :nursing_home_id, "选择养老院：" %><br />
    <%= f.select :nursing_home_id, get_attrs_as_options(current_user.nursing_homes, "name") %>
  </div>
  <div class="field col-xs-12 input-group form-group">
    <%= f.label :name, "护工姓名：" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field col-xs-12 input-group form-group">
    <%= f.label :birthday, "出生日期：" %><br>
    <%= f.date_select :birthday, start_year: Date.today.year-70, end_year: Date.today.year-18 %>
    <%= f.select :gender, Constants::GENDER %>
  </div>

  <div class="field col-xs-12 input-group form-group">
    <%= f.label :phone, "手机号码：" %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field col-xs-12 input-group form-group">
    <%= f.label :hometown, "家乡：" %><br>
    <%= f.text_field :hometown %>
  </div>
  <div class="field col-xs-12 input-group form-group">
    <%= f.label :home, "现居住地：" %><br>
    <%= f.text_field :home %>
  </div>
  <div class="field col-xs-12 input-group form-group">
    <%= f.label :education, "学历：" %><br>
    <%= f.select :education, Constants::EDUCATION %>
  </div>
  <div class="field col-xs-12 input-group form-group">
    <%= f.label :previous_job, "曾从事职业：" %><br>
    <%= f.text_field :previous_job %>
  </div>
  <div class="field col-xs-12 input-group form-group">
    <%= f.label :religion, "宗教信仰：" %><br>
    <%= f.text_field :religion %>
  </div>
  <div class="field col-xs-12 input-group form-group">
    <%= f.label :interests, "爱好特长：" %><br>
    <%= f.text_field :interests %>
  </div>
  <div class="field col-xs-12 input-group form-group">
    <%= f.label :background, "家庭情况：" %><br>
    <%= f.text_area :background %>
  </div>
  <div class="field col-xs-12 input-group form-group">
    <%= f.label :nursing, "护理情况：" %><br>
    <%= f.text_area :nursing %>
  </div>

  <div class="actions col-xs-12 input-group form-group">
    <%= f.submit "添 加" %>
  </div>
<% end %>
