<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @nurse.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @nurse.birthday %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @nurse.gender %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @nurse.phone %>
</p>

<p>
  <strong>Hometown:</strong>
  <%= @nurse.hometown %>
</p>

<p>
  <strong>Home:</strong>
  <%= @nurse.home %>
</p>

<p>
  <strong>Education:</strong>
  <%= @nurse.education %>
</p>

<p>
  <strong>Previous job:</strong>
  <%= @nurse.previous_job %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @nurse.religion %>
</p>

<p>
  <strong>Interests:</strong>
  <%= @nurse.interests %>
</p>

<p>
  <strong>Background:</strong>
  <%= @nurse.background %>
</p>

<p>
  <strong>Nursing:</strong>
  <%= @nurse.nursing %>
</p>

<p>
  <strong>Nursing home:</strong>
  <%= @nurse.nursing_home_id %>
</p>

<%= link_to 'Edit', edit_nurse_path(@nurse) %> |
<%= link_to 'Back', nurses_path %>
