<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field col-xs-12 input-group form-group">
    <%= f.label :zone_id, "选择区域：" %><br />
    <%= f.grouped_collection_select :zone_id, current_user.nursing_homes, :zones, :name, :id, :name %>
  </div>

  <div class="field col-xs-12 input-group form-group">
    <%= f.label :room_number, "房间号：" %><br>
    <%= f.text_field :room_number, placeholder: "房间号" %>
  </div>
  <div class="field col-xs-12 input-group form-group">
    <%= f.label :description, "房间描述："%><br>
    <%= f.text_area :description %>
  </div>

  <div class="actions col-xs-12 input-group form-group">
    <%= f.submit "提 交"%>
  </div>
<% end %>
