<%= form_for(@zone) do |f| %>
  <% if @zone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zone.errors.count, "error") %> prohibited this zone from being saved:</h2>

      <ul>
      <% @zone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-xs-12 input-group form-group">
    <%= f.label :name, "区域名称："%><br>
    <%= f.text_field :name %>
  </div>
  <div class="field col-xs-12 input-group form-group">
    <%= f.label :nursing_home_id, "选择养老院：" %><br />
    <%= f.select :nursing_home_id, get_all_nursing_homes_as_options %>
  </div>
  <div class="field col-xs-12 input-group form-group">
    <%= f.label :description, "分区介绍：" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions col-xs-12 input-group form-group">
    <%= f.submit "提 交"%>
  </div>
<% end %>
