<!DOCTYPE html>
<html>
<head>
  <title>Aizhongguo2014</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="favicon" mce_href="favicon.ico"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
<% unless flash.keys[0].blank? %>
  <div class="message_of_<%= params[:controller]+'_'+params[:action] %> row"">
    <p class="<%= flash.keys[0] %>"><%= flash[flash.keys[0]] %></p>
  </div>
<% end %>
<%= render "layouts/header"  %>
<%= yield %>
<%= render "layouts/footer"  %>
</div>
</body>
</html>
